@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	font-family: 'Karla', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    padding: 0px;
    margin:0px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

html {
    padding: 0px;
    margin: 0px;
}

.words {
    font-size: 20px;
}

body {
    line-height: 1;
    padding: 0px;
}

ol, ul {
	list-style: none;
}

.flex-container {
    /* flex layout context */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
}


.flex-item {
  margin: 1.1%;
  width: 30%;
  height: 30vw;
  margin-top: 10px;
  border-radius: 5%;
  border-color: #fee9b2;
  border-style: double;
  border-width: 0.2cm;

  line-height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  align-items: center;

}

#noBorder {
  border-style: none;
}

.link {
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.devpost {
  background-image: url('http://nealrs.github.io/devpost-follow-button/icon/devpost-512.png');
}

.github {
  background-image: url('images/github-brands.svg');
  width: 45px;
  height: 45px;
}

.linkedin {
  background-image: url('images/linkedin.png');
  width: 45px;
  height: 45px;
}

.email {
  background-image: url('images/email.png');
  width: 45px;
  height: 45px;
}

.facebook {
  background-image: url('images/facebook.png');
  width: 45px;
  height: 45px;
}

#moody, #mentr, #husky {
  color: #444444;
  border-style: double; 
  border-color: #fee9b2;
  font-weight: bold;
}


#moody.flex-item:hover {
  background-color: #fee9b2;
  /* background-color: #d3f6f3; */
}

#mentr.flex-item:hover {
  background-color: #fee9b2;
}

#husky.flex-item:hover {
  background-color: #fee9b2;
  /* background-color: #fbd1b7; */
}


#about { 
  margin: 5%;
  width: 40%;
  margin-top: 25px;
}

.aboutPage {
  width: 50%;
}

.flex-item-picture {
    margin: 5%;
    width: 30%;
    height: 500px;
    margin-top: 15px;

    line-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-item-hello {
    margin: 5%;
    width: 50%;
    height: 500px;
    margin-top: 15px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fill {
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/name.png');
  width: auto;
  height: 200px;
}

.space {
    height: 100px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    margin: 1.5% 1% 2% 1%;
    overflow: hidden;
    background-color:white;
    margin-bottom: 100px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 16px;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
  }
  
  .topnav a:hover {
    color: goldenrod;
  }
  
  .topnav a.active {
    color: black;
    border-radius: 2em;
    text-decoration: underline;
  }
  
  .topnav .icon {
    display: none;
  }

  #intro-small {
    display: none;
  }

  img {
    margin-top: 50px;
    height: 120%;
    width: 80%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
  }

  .cloud {
    background-image: url('images/cloud.png');
    width: 40%;
    height: 40%;
    padding: 10px;
    overflow: hidden;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    
  }

  .profile {
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/profile.jpg');
    width: 120%;
    height: 150%;
  }

  .socialMediaDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  .mentrPic {
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/mentr.png');
    width: 50%;
    height: 100%;
  }

  .moodyPic {
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/moody.png');
    /* width: 100%;
    height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .moodyProjectBox {
    margin: 5%;
    border-color: #c9daf9;
  }

  .mentrMedia, .moodyMedia, .huskyMedia {
    flex-direction: row;
    width: 38%;
  }

  /* button from SASS */
  
  
  a {
    text-decoration: none;
    color: inherit; }
  
  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease; }
    .cta:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background: #fffbbe;
      width: 56px;
      height: 56px;
      transition: all 0.3s ease; }
    .cta span {
      position: relative;
      font-size: 16px;
      line-height: 18px;
      font-weight: 900;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      vertical-align: middle; }
    .cta svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #111;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all 0.3s ease; }
    .cta:hover:before {
      width: 100%;
      background: #ffe196; }
    .cta:hover svg {
      transform: translateX(0); }
    .cta:active {
      transform: scale(0.96); }

      
    /* end button */

  button {
    width: 100px;
    justify-content: center;
    position: relative;
  }

  